<div id="<%= dom_id booking %>">
  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>Start Date:</strong>
    <%= bookmark.start_date %>
  </p>

  <p>
    <strong>End Date</strong>
    <%= bookmark.end_date %>
  </p>


</div>
