<h1>Ludo</h1>
<p>Rent games fast and easy in sour area!</p>
<div class="lender-container d-flex justify-content-center align-items-center flex-row flex-column">

 <h1> Want to lend a boardgame in your area? </h1>
  <h2>Just type in your area code to find available games near you. </h2>

      <label for="plz">Plz:
    <input type="plz" name="plz" id="plz">

  <input type="submit" name="Sign up">
</form>
</div>
<div class="renting-container d-flex justify-content-center align-items-center flex-row flex-column">
 <h1> You want to lend out your games? </h1>
 <a href="..." class="btn btn-primary">Register here</a>
</div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
