<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to 'Create a game list', new_game_user_game_path, class: 'btn btn-dangerous btn-rounded' %>
  </div>
  <div class="row">
    <% @user_games.each do |user_game| %>
      <div class="co-12 colsm-6 col-md-4">
        <%= link_to  game_user_games_path(list), class:'text-decoration-none' do %>
            <li><%= user_game.title %> <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, game_user_games_path(user_game), data: {turbo_method: :delete} %></li>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
