<h1>Game</h1>
  <p>
    <strong>User:</strong>
    <%= @user_ratings.user_id %>
  </p>

  <p>
    <strong>comment:</strong>
    <%= @user_ratings.comment %>
  </p>

  <p>
    <strong>Rating</strong>
    <%= @user_ratings.rating %>
  </p>
